.dashboard {
    position: relative;
    left: 15%;
    /* border: 1px solid red; */
    padding: 20px;
    width: 84%;
}

.statsWidgetCont {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}